

body {
  background: none repeat scroll 0 0 white; }
  
/*-------------------------------------------------------SideBar Menu--------------------------------------------------*/
nav.sidebar-menu-collapsed {
	
  width: 50px;
 }
nav.sidebar-menu-expanded {
	
  width: 120px; }
  
nav.sidebar {
	
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  background: #282828  /*#036*/;
 
  color: white;
  padding: 20px 10px;
  margin-top:50px;
 /* z-index: 10000;*/ }
  nav.sidebar a#justify-icon {
    outline: 0;
    color: #FFF;
    font-size: 24px;
    font-style: normal; }
  nav.sidebar a#logout-icon {
    outline: 0;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    position: absolute;
    bottom: 10px;
    left: 10px; }
  nav.sidebar ul {
    margin: 0;
    padding: 0;
    margin-top: 60px; }
    nav.sidebar ul li {
      margin: 0;
      padding: 0;
      margin-top: 20px;
      list-style-type: none; }
      nav.sidebar ul li a.expandable {
        outline: 0;
        color: #FFF;
        text-decoration: none;
        font-size: 20px; }
        nav.sidebar ul li a.expandable:hover {
          color: #003; }
        nav.sidebar ul li a.expandable span.expanded-element {
          margin-left: 2px;
          display: none;
          font-size: 11px;
          position: relative;
          bottom: 2px; }
      nav.sidebar ul li.active {
        background: none repeat scroll 0 0 black;
        border-radius: 4px;
        text-align: center;
        margin-left: -4px;
        padding: 4px; }
        nav.sidebar ul li.active a.expandable {
          color: #575757 !important; }
          nav.sidebar ul li.active a.expandable:hover {
            color: #575757 !important; }
			

			
/*--------------------------------------------------End of SideBar Menu--------------------------------------------------*/	

/*-----------------------------------------------------------Dropdown Submenu--------------------------------------------*/
	

.dropdown{
    position: relative;
	 z-index:1000 !important;
}

.dropdown-submenu {
    position: relative;
	
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: 15px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
	
	padding-bottom:10px;
	
	
}

.dropdown-submenu>a.caret-right:after {
	margin-top:6px;
	padding-left:2px;
  border-left: 10px solid #000;
  border-right: 0px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.dropdown-submenu .dropdown-menu li > a:hover  {    background-color: #418bca;
    color: #FFF;
	}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
	
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: inset;
    border-width: 5px 5px 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
	
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0px 6px 6px;
    -moz-border-radius: 6px 0px 6px 6px;
    border-radius: 6px 6px 0px 6px;
	z-index: 10000;
}
	
.dropdown-menu .glyphicon{
	font-size:20px;
	color: #222;
	float:right;
	}				
			
/*--------------------------------------------------Page Content Wrapper--------------------------------------------------*/
			
#page-content-wrapper {
	left:50px;
	margin-top:80px;
	  
    height: auto;
	position:relative;
	
}


 #wrapper{
	 position:relative;
	 z-index:1000 !important; } 

#wrapper.active {
    padding-left: 150px;
}
	
/*--------------------------------------------------Page Content Wrapper--------------------------------------------------*/	